/* typography */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/muli/Muli-Regular.woff2'),
    url('../assets/fonts/muli/Muli-Regular.woff'),
    url('../assets/fonts/muli/Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/muli/Muli-Bold.woff2'),
    url('../assets/fonts/muli/Muli-Bold.woff'),
    url('../assets/fonts/muli/Muli-Bold.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/muli/Muli-Black.woff2'),
    url('../assets/fonts/muli/Muli-Black.woff'),
    url('../assets/fonts/muli/Muli-Black.ttf');
}

@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/yeseva-one/YesevaOne-Regular.woff2'),
    url('../assets/fonts/yeseva-one/YesevaOne-Regular.woff'),
    url('../assets/fonts/yeseva-one/YesevaOne-Regular.ttf');
}

/* variables */
:root {
  // colors
  --color-charcoal-011: hsl(214, 24%, 11%);
  --color-charcoal-021: hsl(215, 25%, 21%);
  --color-charcoal-046: hsl(214, 3%, 46%);
  --color-white: hsl(0, 0%, 98%);
  --color-alarm-049: hsl(1, 90%, 49%);
  --color-alarm-039: hsl(1, 90%, 39%);
  --color-slate-blue-050: hsl(214, 44%, 50%);

  // spacing
  --space-eight: 0.2rem;
  --space-quarter: 0.4rem;
  --space-half: 0.8rem;
  --space-default: 1.6rem;
  --space-double: 3.2rem;
  --space-quad: 6.4rem;
  --space-oct: 12.8rem;

  // typography
  --font-family-sans: var(--font-family-sans);
  --font-family-serif: 'Yeseva One', serif;
  
  // font weights
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;

  // design element
  --transition: 300ms ease-in-out;
  --border-radius-default: 0.4rem;
  --border-radius-large: 0.8rem;
}

/* reset */
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-white);
}

/* type specs */
.t-brand {
  font-family: var(--font-family-sans);
  font-size: 2.4rem;
  font-weight: var(--weight-black);
  line-height: 1; // ratio from font and line height being 24px
}

.t-copy-large {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  font-weight: var(--weight-bold);
  line-height: 1; // ratio from font and line height being 24px
}

.t-display {
  font-family: var(--font-family-serif);
  letter-spacing: -0.2rem;
  
  @media (max-width: 575px) {
    & {
      font-size: 3.2rem;
      line-height: 1.25; // 40px line height / 32px font size = 1.25
      color: red;
      background: red;
    }
  }
  
  @media (min-width: 576px) {
    & {
      font-size: 8rem;
      line-height: 1.2; // 96px / 80px = 1.2
    }
  }
}

.t-body {
  font-family: var(--font-family-sans);
  font-size: 1.4rem;
  font-weight: var(--weight-regular);
  line-height: 1.286; // 18px / 14px = 1.285714...
}

.t-title {
  font-family: var(--font-family-serif);
  font-weight: var(--weight-black);
  
  @media (max-width: 575px) {
    & {
      font-size: 2.4rem;
      line-height: 1.167; // 28px / 24px = 1.666666...
    }
  }
  
  @media (min-width: 576px) {
    & {
      font-size: 2.8rem;
      line-height: 1.143; // 32px / 28px = 1.142857...
    }
  }
}

.t-section-number {
  font-family: var(--font-family-serif);
  font-size: 12rem;
  line-height: 1rem; // same proportion
  letter-spacing: -0.2rem;
}

.t-copy-fluid {
  font-family: var(--font-family-sans);
  font-weight: var(--weight-bold);
  line-height: 1;

  @media (max-width: 575px) {
    & {
      font-size: 1.4rem;
    }
  }

  @media (min-width: 576px) {
    & {
      font-size: 1.6rem;
    }
  }
}

/* screen reader only */
.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px); // deprecated
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

/* skip nav */
.skip-nav {
  padding: var(--space-default);
  display: inline-block; // make it part of the flow
  position: absolute; // so translation works properly
  color: var(--color-white);
  background-color: var(--color-charcoal-021);
  border-radius: var(--border-radius-default);
  text-decoration: none;
  transition: background-color var(--transition), transform var(--transition);
  
  // mobile
  @media (max-width: 575px) {
    & {
      transform: translate(var(--space-default), calc(var(--space-quad) * -1));
    }
  }

  // desktop
  @media (min-width: 576px) {
    & {
      transform: translate(var(--space-oct), calc(var(--space-quad) * -1)); // x: 128px / y: -64px
    }
  }

  &:hover {
    background-color: var(--color-charcoal-011);
  }
  
  &:focus {
    outline: 0.4rem solid var(--color-slate-blue-050);
    outline-offset: 0.2rem;

    @media (max-width: 575px) {
      & {
        transform: translate(var(--space-default), var(--space-default)); // appear
      }
    }  

    @media (min-width: 576px) {
      & {
        transform: translate(var(--space-oct), var(--space-double));
      }
    }
  }
}

/* header */
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  // mobile first
  @media (max-width: 575px) {
    & {
      padding-right: var(--space-default);
      padding-left: var(--space-default);
      min-height: var(--space-quad);
    }
  }
}

/* brand */
.brand {
  color: var(--color-charcoal-021);
  text-decoration: none;
  transition: color var(--transition);

  &:hover {
    color: var(--color-charcoal-046);
  }

  &:focus {
    outline: 0.4rem solid var(--color-slate-blue-050);
    outline-offset: 0.2rem;
  }
}

/* search */
.button-icon {
  padding: 0;
  min-width: 4.8rem; // tab target size
  min-height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;

    // .button-icon:hover .button-icon__icon
    .button-icon__icon {
      fill: var(--color-charcoal-046);
    }
  }

  &:focus {
    outline: 0.4rem solid var(--color-slate-blue-050);
    outline-offset: -0.2rem;    
  }

  &__icon {
    fill: var(--color-charcoal-021);
    transition: fill var(--transition);
  }
}

.search {
  display: none;
  position: relative;

  &--is-open {
    display: block;
    position: absolute;
    width: calc(100% - var(--space-default) - var(--space-default));
  }

  &__input {
    width: 100%;
    height: 4.8rem;
    color: var(--color-charcoal-021);
    border: none;
    border-bottom: 0.2rem solid var(--color-charcoal-021);
    transition: border-bottom-color var(--transition);

    &::placeholder {
      color: var(--color-charcoal-046);
    }

    &:focus {
      border-bottom-color: var(--color-slate-blue-050);
    }
  }

  &__submit {
    position: absolute;
    top: 0;
    right: 0;
  }
}
